
.example-full-width {
    margin: 10px;
    width: 50%;
}

.file-text{
    padding-bottom: 10px;
    padding-top: 10px;
}

.buttonPhoto{
    padding-top: 10px;
}

.left{
    margin-right: 10px;
}

.right{
    margin-left: 10px;
}