
.example-full-width {
    margin: 10px;
    width: 50%;
}

.file-text{
    padding-bottom: 10px;
    padding-top: 10px;
}

.buttonPhoto{
    padding-top: 10px;
}

.left{
    margin-right: 10px;
}

.right{
    margin-left: 10px;
}

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: green !important;
   }
  
   ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: green !important;
  } 
  
  ::ng-deep.mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color: green !important;
  }