/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

.verde {
    background-color: #347337;
    color: white;
}

.rojo {
    background-color: #cb3150;
    color: white;
}

.ocre {
    background-color: #eca63c;
    color: white;
}

.header_container {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #347337;
}

.imagen {
    width: 100%;
    margin-bottom: 70px;
}

.negrita {
    font-weight: bold;
    color: black;
    font-size: 20px;
}

.capitalize {
    text-transform: capitalize;
}
